@use 'abstracts';

/* STYLING FÖR KNAPPAR */

// Inkluderar stil för standard knappar genom extend
button {
    @extend %button-style;
    width: 50%;
    padding: 1.2rem 0.5rem;
    margin: 1rem 0;
    font-size: 1.6rem;
}

// Fixerar bakgrundsbld med 100% höjd/bredd
.body-background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

// Sätter bakgrundsbilden till 100% höjd/bredd och cover för att bilden ska täcka enligt rätt förhållanden
#background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    filter: brightness(50%); // Minskar ljusstyrkan på bilden
}

// Storlek för bilder
img {
    width: 100%;
    height: auto;
}

// ID-styling för felmeddelande
.error-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    color: abstracts.$delete-btn-color;
    font-size: 1.4rem;
    font-weight: 600;
}

// Styling för popup
.popup {
    width: 100%;
    height: 0;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: abstracts.$font-text;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: height 1s; // Lägger transition på höjden, höjden ändras under 1 sekund
    z-index: 5;
    box-shadow: 0px -4px 10px 0px rgb(0 0 0 / 20%); // Skugga
}

// Styling för när popup visas
.popup.show {
    height: 5rem;
    padding: 1rem;
}

// Döljer innehåll i content initalt
#content {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

// Margin för laddningsmeddelande
#loading {
    margin: 5rem auto 2rem auto;
    text-align: center;
    color: white;
    width: 100%;
}

// Styling för bokningar & meddelanden
#booking-container,
#message-container {

    width: 100%;
    max-width: 600px;

    div {
        background-color: antiquewhite;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 10px;
        background-color: #faebd7;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    i {
        margin-left: 0.5rem;
    }

    a {
        @extend %button-style;
        width: 50%;
        padding: 1rem 0.5rem;
        margin: 2rem 0 1rem 0;
        font-size: 1.6rem;
        text-decoration: none;
    }
}

// Styling för gruppering av text och länk till logga in/skapa konto
#user {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;

    p {
        padding-right: 0.5rem;
    }

}

// Styling för användarhantering (logga ut + info om inloggad användare)
#user-manager {
    position: absolute;
    top: 100px;
    left: 2rem;
    color: white;
    display: none;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 3rem 2rem;

    i {
        margin-right: 0.5rem;
    }

    button {
        margin: 1rem 0;
        font-size: 1.4rem;
        width: 15rem;

        i {
            margin-left: 0.3rem;
        }
    }
}

// Styling för logga in/skapa konto
.login-section {
    margin-top: 5rem;

    .form-group {
        margin: 0.5rem 0;
    }
}

// Styling för sektion av knapp + laddningsikon
#submit-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// Animering för laddningsikon
.loader {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite; // Pågår under 2 sekunder, samma hastighet om och om igen
    margin-right: 2rem;
}

// Styling för container på start/om oss
#start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2,
    p {
        color: white;
    }

    button {
        background-color: rgb(143, 55, 14);

        &:hover,
        &:active {
            background-color: darken(rgb(143, 55, 14), 10%);
        }
    }
}

// Styling för meny
#menu-list {
    width: 100%;
    max-width: 600px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding: 0 4rem 6rem 4rem;
    border-radius: 10px;

    section {
        margin: 2rem 0;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2,
    h3 {
        display: flex;
        justify-content: center;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin: 4rem 0 3rem 0;
    }

    h3 {
        display: flex;
        justify-content: center;
        font-size: 2.2rem;
        margin: 4rem 0 2rem 0;
    }

    h4 {
        font-size: 1.7rem;
        margin: 0;
    }

    p {
        text-align: center;
    }

}

// Speciell margin för h2 + h4 på admin-meny-vyn
.admin-menu {
    h2 {
        margin: 2rem 0 0 0 !important;
    }

    h4 {
        margin: 5rem 0 0 0 !important;
    }

    button {
        margin: 0 0 2rem 0;
    }
}

// Styling för recensions-container
#reviews-container {
    width: 100%;
    max-width: 600px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 10px;
    }

    p {
        text-align: center;
    }

    h2,
    h3 {
        color: white;
        text-align: center;
    }
}

// Styling för review-formulär
#review-form {
    h2 {
        margin: 0 0 2rem 0;
    }
}

// Styling för bekräftelse-container
#confirmation {
    background-color: antiquewhite;
    padding: 0 4rem 3rem 4rem;
    max-width: 500px;
    margin-top: 2rem;

    h2 {
        margin: 4rem auto 2rem auto;
    }
}

// Döljer formulär för update/lägga till ny rätt
#update-form,
#add-dish-form {
    display: none;
}

// Styling för lägga till rätt-knapp
#add-dish-btn {
    margin: 2rem 0 4rem 0;
    background-color: rgb(143, 55, 14);

    &:hover,
    &:active {
        background-color: darken(rgb(143, 55, 14), 10%);
    }
}

// Keyframes för animering
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg); // Roterar från 0 till 360 grader
    }
}

// Styling vid mindre skrämar (max 600px)
@media (max-width: 600px) {

    #submit-section {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin: 2rem 0 0 0;
    }

    // Styling för meddelanden
    #message-container {

        a {
            width: 100%;
        }
    }
}