@use 'abstracts';

// Huvudinnehåll
main {
  @include abstracts.center-flex();
  width: 80%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 20rem auto;
  padding: 2rem 4rem 4rem 4rem;
  position: relative;
}

// Styling för enheter mindre än 600px bredd
@media (max-width: 600px) {

  main {
    width: 90%;
    padding: 1.5rem 0 5% 0;
  }
}